* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    background-image: linear-gradient(120deg, $very-black, $not-so-black);
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    overflow-x: visible;
    overflow-y: hidden;
    &::-webkit-scrollbar {
        display: none;
    }
}

header, form {
    font-size: 1.5rem;
    display: flex;
}

header {
    display: flex;
    margin-top: 10vh;
    margin-bottom: 10vh;
    user-select: none;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.dodoicon {
    height: 4rem;
    margin-left: 3rem;
    & * {
        height: 100%;
    }
}
h1 {
    background: -webkit-linear-gradient(180deg, $cyan, $des-cyan);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    border-radius: 1.5rem;
}
form input {
    width: 85%;
    outline: none;
}
form button {
    background: $not-so-black;
    color: $des-cyan;
    width: 15%;
    cursor: pointer;
    border-radius: 2rem;
    transition: all 400ms;
    &:hover {
        background: $des-cyan;
        color: $not-so-black;
    }
}
.column-center {
    width: 40vw;
}
.column-left, .column-right {
    width: 30vw;
    padding-top: 20vh;
    position: relative;
}

.mega-container {
    display: flex;
    flex-direction: column;
    /* padding: 0 25vw; */
    width: 100%;
    overflow-x: visible;
}
.center-container {
    margin-bottom: 2rem;
}
.fake-input {
    display: flex;
    width: 100%;
    border-radius: 1.5rem;
    background-color:$not-so-black;
    transition: all 400ms;
}
.fa-plus-square {
    padding-right: 0.5rem;
}

// struttura finale
/* 
ul              .todo-list
    div         .todo
        li      .todo-item
        button  .complete-button
        button  .trash-button
*/
.todo-list, .todo-container {
    overflow-x: visible;
    overflow-y: scroll; 
    &::-webkit-scrollbar {
        display: none;
    }
}

.todo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    max-height: 55vh;
    overflow-y: visible;
    overflow-x: scroll;

}
/* .todo-list {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    list-style: none;
    width: 100%;
    margin: 0px;
} */
.todo {
    display: flex;
    background-color: white;
    width: 100%;
    border-radius: 2rem;
    margin: 0.5rem 0rem 0rem 0rem;
    padding: 0.5rem;
    transition: all 500ms ease;
    overflow-y: visible;
    & .fas {
        pointer-events: none;
    }
    & .trash-button:hover {
        color: $des-red;
    }
    & .complete-button:hover {
        color: $cyan;
    }
    & button {
        font-size: 1.3rem;
        border: none;
        color: $not-so-black;
        background-color: transparent;
        margin: 0.5rem;
        border-radius: 1.5rem;
        cursor: pointer;
        transition: all 300ms ease;
    }
}

.todo-item {
    flex: 1;
    width: 100%;
    pointer-events: none;
}

.checked {
    background-color: $not-so-black;
    color: $des-cyan;
    opacity: 0.5;
    & .trash-button {
        transition: all;
        color: inherit;
    }
}
.removing {
    transition: all 0.4s ease;
    transform: translateX(26rem);
    opacity: 0;
}

.selector {
    position: absolute;
    left: 5%;
    margin-left: 4rem;
    outline: none;
    background-color: $not-so-black;
    padding: 0.5rem;
    border-radius: 2rem;
    text-align: center;

    & div {
        margin: 0.4rem;
        font-size: 1.2rem;
        color: $des-cyan;
        opacity: 0.8;
        cursor: pointer;
        transition: all 300ms ease-in;
        & i {
            pointer-events: none;
        }
        &:hover {
            transition: all 300ms ease;
            color: white;
            text-shadow: 
            0 0 12px $cyan,
            0 0 2px cyan;
        }
    }
}
.toggled {
    transition: all 300ms ease;
    color: white !important;
    text-shadow: 
        0 0 12px $cyan,
        0 0 2px cyan;
}