* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.light-mode {
    filter: invert(1) hue-rotate(0deg);
    & input {
        filter: invert(1);
    }
    & .todo {
        filter: invert(1);
        & button {
            filter: invert(1);
        }
    }
}
.dark-mode {
    filter: invert(0) hue-rotate(0deg);
}


body {
    height: 100vh;
    max-height: 100vh;
    width: 100vw;
    background-image: linear-gradient(120deg, $very-black, $not-so-black);
    font-family: 'Poppins', sans-serif !important;
    display: flex;
    flex-direction: row;
    overflow-x: visible;
    overflow-y: hidden;
    &::-webkit-scrollbar {
        display: none;
    }
}

header, form {
    font-size: 1.5rem;
    display: flex;
}

header {
    display: flex;
    margin-top: 10vh;
    margin-bottom: 10vh;
    user-select: none;
    justify-content: center;
    align-content: center;
    align-items: center;
    transition: all 300ms ease;
}
.dodoicon {
    height: 4rem;
    margin-left: 3rem;
    transition: all 300ms ease;
    & * {
        height: 100%;
    }
}
h1 {
    background: -webkit-linear-gradient(180deg, $cyan, $des-cyan);
    background-clip: text;
    transition: all 300ms ease;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    border-radius: 1.5rem;
}
form input {
    width: 85%;
    outline: none;
    background-color: $white;
}
form button {
    background: $not-so-black;
    color: $des-cyan;
    width: 15%;
    cursor: pointer;
    border-radius: 2rem;
    transition: all 400ms;
    &:hover {
        background: $des-cyan;
        color: $not-so-black;
    }
}
.column-center {
    width: 40vw;
    transition: all 300ms ease;

}
.column-left, .column-right {
    width: 30vw;
    padding-top: 20vh;
    position: relative;
    transition: all 300ms ease;
}
.column-left {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding-right: 5vw;
}

.mega-container {
    display: flex;
    flex-direction: column;
    /* padding: 0 25vw; */
    width: 100%;
    overflow-x: visible;
}
.center-container {
    margin-bottom: 2rem;
}
.fake-input {
    display: flex;
    width: 100%;
    border-radius: 1.5rem;
    background-color:$not-so-black;
    transition: all 400ms;
}
.fa-plus-square {
    padding-right: 0.5rem;
}

// struttura finale
/* 
ul              .todo-list
    div         .todo
        li      .todo-item
        button  .complete-button
        button  .trash-button
*/
.todo-list, .todo-container {
    overflow-x: visible;
    overflow-y: scroll; 
    &::-webkit-scrollbar {
        display: none;
    }
}

.todo-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.5rem;
    max-height: 55vh;
    width: 70vw;
    overflow: scroll;
    z-index: 2;
}

.todo {
    display: flex;
    background-color: $white;
    width: 60%;
    border-radius: 2rem;
    margin: 0.5rem 0rem 0rem 0rem;
    padding: 0.5rem;
    align-items: center;
    transition: all 500ms ease;
    overflow-y: visible;
    & .fas {
        pointer-events: none;
    }
    & .trash-button:hover {
        color: $des-red;
    }
    & .complete-button:hover {
        color: $cyan;
    }
    & button {
        font-size: 1.3rem;
        border: none;
        color: $not-so-black;
        background-color: transparent;
        margin: 0.5rem;
        border-radius: 1.5rem;
        cursor: pointer;
        transition: all 300ms ease;
    }
}

.todo-item {
    flex: 1;
    width: 100%;
    pointer-events: none;
    height: auto;
    overflow-wrap: break-word;
}

.checked {
    background-color: $not-so-black;
    color: $des-cyan;
    opacity: 0.5;
    filter: invert(0) !important;
    & button {
        filter: hue-rotate(180deg) invert(1) !important;
    }
    & .trash-button {
        transition: all;
        color: inherit;
    }
}
.removing {
    transition: all 0.8s ease;
    transform: translateX(26rem);
    opacity: 0;
}

.fading {
    opacity: 0;
}
#selector {
    position: absolute;
    left: 5%;
    margin-left: 4rem;
}
.selector {
    outline: none;
    background-color: $not-so-black;
    padding: 0.5rem;
    border-radius: 2rem;
    text-align: center;
    transition: all 300ms ease;
    & div {
        margin: 0.4rem;
        user-select: none;
        font-size: 1.2rem;
        color: $des-cyan;
        opacity: 0.8;
        cursor: pointer;
        transition: all 300ms ease-in;
        & i {
            pointer-events: none;
        }
        &:hover {
            transition: all 300ms ease;
            color: white;
            text-shadow: 
            0 0 12px $cyan,
            0 0 2px cyan;
        }
    }
}
.toggled {
    transition: all 300ms ease;
    color: white !important;
    text-shadow: 
        0 0 12px $cyan,
        0 0 2px cyan;
}
.sliding-menu {
    opacity: 0;
    pointer-events: none;

    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
    box-shadow: 0 0 12px $des-cyan;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 40vw;
    height: 40vh;
    background-color: rgba(40, 42, 54, 0.95);  
    backdrop-filter: blur(8px);
    transition: all 500ms ease;
    border-radius: 2rem;
    justify-content: space-evenly;
    align-items: center;
}
.close {
    margin-bottom: auto;
    height: fit-content;
    padding-top: 2px;
    padding-bottom: 2px;
    flex: 0 0 1.5rem;
}

.theme {
    z-index: 4;
    margin-left: 10%;
    margin-right: 10%;
}

.show-slider {
    opacity: 1 !important;
    pointer-events: auto !important;
}


// round slider
#slider {
    opacity: 0;
    transition: all 400ms ease;
    pointer-events: none;
    z-index: 4;
    height: 100%;
    margin: 0px;
}
/* .rs-chrome.rs-control.rs-classic-mode.rs-animation {
    height: 100% !important;
    width: 57% !important;
    & .rs-container.rs-full {
        height: 100% !important;
        width: 100% !important;
    }
} */

.slider-cont {
    height: 90%;
    display: flex;
    align-items: center;
}
.rs-tooltip.rs-edit {
    user-select: none;
    pointer-events: none;
    font-size: 1.3rem;
    font-family: inherit;
    color: $white;
}
#slider .rs-range-color  {
    background-color: #ffffff00;
}
#slider .rs-path-color  {
    background-color: #ffffff00;
}
#slider .rs-handle  { // rs-handle rs-move rs-handle-dot
    background-color: $des-cyan;
    padding: 7px;
    border: none;
}
#slider .rs-handle.rs-handle-dot {
    width: 16px !important;
    height: 16px !important;
    box-shadow: 0 0 12px $des-cyan;
    cursor: pointer;
}
#slider .rs-handle.rs-move.rs-handle-dot {
    width: 16px !important;
    height: 16px !important;
    box-shadow: none;
}
#slider .rs-handle:after  {
    border-color: #ffffff00;
    background-color: #ffffff00;
}
#slider .rs-border  {
    border-color: $des-cyan;
    box-shadow: 0 0 12px $cyan;
}
#slider .rs-bg-color {
    background-color: #ffffff00;
}

#slider .rs-inner-container {
    overflow: visible;
}

#slider .rs-block > span {
    padding: 0px !important;
}