@media (max-width:767px) {

header {
    font-size: 1.5rem;
    margin-top: 6vh;
}
.column-center {
    width: 70vw;
}
.column-left, .column-right {
    width: 15vw;
    padding-top: 20vh;
    position: relative;
}
.column-left {
    padding-top: 5vh;
}
#selector {
    display: flex;
    flex-direction: row;
    position: fixed;
    margin: 0rem;
    width: fit-content;
    left: 50vw;
    transform: translate(-50%, -50%);
    top: 19vh;
    & div {
        margin: 0rem 0.8rem;
    }
}
.fa-plus-square {
    padding-right: 0.7rem;
}
.todo-container{
    max-height: 55vh;
    width: 80vw;
    margin-bottom: 10vh;
}
.todo {
    width: 80%;
}
.dodoicon {
    position: fixed;
    height: 3rem;
    right: 10vw;
    & * {
        height: 100%;
    }
}
#slider {
    margin-left: auto;
    left: 3vw;
}
#slider .rs-container.rs-full {
    width: 90px !important;
    height: 90px !important;
}


.sliding-menu {
    display: flex;
    flex-direction: column;
    margin: 0px;
    overflow: visible;
}
.theme {
    display: flex;
    margin: 0px;
    flex-direction: row;
    padding: 0px 0.3rem;
}
.slider-cont {
    height: 50%;
    width: auto;
    margin: 10%;
}
.close {
    margin: 0px;
}
}

