* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  background-image: linear-gradient(120deg, #282a36, #455265);
  font-family: 'Poppins', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow-x: visible;
  overflow-y: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

header, form {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10vh;
  margin-bottom: 10vh;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.dodoicon {
  height: 4rem;
  margin-left: 3rem;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.dodoicon * {
  height: 100%;
}

h1 {
  background: -webkit-linear-gradient(180deg, #619ea9, #759fac);
  background-clip: text;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

form input, form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  border-radius: 1.5rem;
}

form input {
  width: 85%;
  outline: none;
}

form button {
  background: #455265;
  color: #759fac;
  width: 15%;
  cursor: pointer;
  border-radius: 2rem;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

form button:hover {
  background: #759fac;
  color: #455265;
}

.column-center {
  width: 40vw;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.column-left, .column-right {
  width: 30vw;
  padding-top: 20vh;
  position: relative;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.mega-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* padding: 0 25vw; */
  width: 100%;
  overflow-x: visible;
}

.center-container {
  margin-bottom: 2rem;
}

.fake-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-radius: 1.5rem;
  background-color: #455265;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.fa-plus-square {
  padding-right: 0.5rem;
}

/* 
ul              .todo-list
    div         .todo
        li      .todo-item
        button  .complete-button
        button  .trash-button
*/
.todo-list, .todo-container {
  overflow-x: visible;
  overflow-y: scroll;
}

.todo-list::-webkit-scrollbar, .todo-container::-webkit-scrollbar {
  display: none;
}

.todo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  max-height: 55vh;
  overflow-y: visible;
  overflow-x: scroll;
}

/* .todo-list {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    list-style: none;
    width: 100%;
    margin: 0px;
} */
.todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  width: 100%;
  border-radius: 2rem;
  margin: 0.5rem 0rem 0rem 0rem;
  padding: 0.5rem;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  overflow-y: visible;
}

.todo .fas {
  pointer-events: none;
}

.todo .trash-button:hover {
  color: #b64569;
}

.todo .complete-button:hover {
  color: #619ea9;
}

.todo button {
  font-size: 1.3rem;
  border: none;
  color: #455265;
  background-color: transparent;
  margin: 0.5rem;
  border-radius: 1.5rem;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.todo-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  pointer-events: none;
}

.checked {
  background-color: #455265;
  color: #759fac;
  opacity: 0.5;
}

.checked .trash-button {
  -webkit-transition: all;
  transition: all;
  color: inherit;
}

.removing {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transform: translateX(26rem);
          transform: translateX(26rem);
  opacity: 0;
}

.selector {
  position: absolute;
  left: 5%;
  margin-left: 4rem;
  outline: none;
  background-color: #455265;
  padding: 0.5rem;
  border-radius: 2rem;
  text-align: center;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.selector div {
  margin: 0.4rem;
  font-size: 1.2rem;
  color: #759fac;
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: all 300ms ease-in;
  transition: all 300ms ease-in;
}

.selector div i {
  pointer-events: none;
}

.selector div:hover {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: white;
  text-shadow: 0 0 12px #619ea9, 0 0 2px cyan;
}

.toggled {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: white !important;
  text-shadow: 0 0 12px #619ea9, 0 0 2px cyan;
}

@media (max-width: 767px) {
  header {
    font-size: 1.5rem;
    margin-top: 6vh;
  }
  .column-center {
    width: 70vw;
  }
  .column-left, .column-right {
    width: 15vw;
    padding-top: 20vh;
    position: relative;
  }
  .selector {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: fixed;
    margin: 0rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    left: 50vw;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: 19vh;
  }
  .selector div {
    margin: 0rem 0.8rem;
  }
  .fa-plus-square {
    padding-right: 0.7rem;
  }
  .todo-container {
    max-height: 60vh;
  }
  .dodoicon {
    position: fixed;
    height: 3rem;
    right: 10vw;
  }
  .dodoicon * {
    height: 100%;
  }
}
/*# sourceMappingURL=style.css.map */